/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo do main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Cards */
.card {
    max-width: 270px;
    padding: 20px;
    background: linear-gradient(135deg, #198754, #28a745);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    color: #fff;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    align-self: flex-start; /* Evita que os cards sejam esticados */
}

.card h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: bold;
}

.card p {
    font-size: 1.1em;
    margin: 15px 50px;
}

.card button {
    background-color: #fff;
    color: #198754;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.card button:hover {
    background-color: #f4f4f9;
    transform: scale(1.05);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .detalhes {
    margin-top: 16px;
    padding: 8px;
    border-top: 1px solid #ddd;
    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

/*.floating-button {*/
/*    position: fixed;*/
/*    bottom: 20px;*/
/*    right: 20px;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    background-color: #198754; !* Cor azul *!*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
/*    font-size: 24px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease, transform 0.2s ease;*/
/*}*/

/*!* Efeito ao passar o mouse *!*/
/*.floating-button:hover {*/
/*    background-color: #28a745; !* Cor azul mais escura *!*/
/*    transform: scale(1.1);*/
/*}*/

/*!* Foco no botão *!*/
/*.floating-button:focus {*/
/*    outline: none;*/
/*    box-shadow: 0 0 10px rgba(40, 167, 69, 0.2);*/
/*}*/


/* Responsividade */
@media (max-width: 768px) {
    .card {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 15px;
    }

    .card h1 {
        font-size: 1.6em;
    }

    .card p {
        font-size: 1em;
    }

    .card button {
        font-size: 0.9em;
    }
}